.subscribe {
    display: flex;
    justify-content: center;
    padding: 159px 0 126px;
    position: relative;
}

.subscribe__container {
    width: 1432px;
    height: 439px;
    background-color: #4D2C5E;
    border-radius: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px 0 113px;
    position: relative;
    overflow: hidden;
}

.subscribe__title {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    margin: 0;
}

.subscribe__subtitle {
    margin: 13px 0 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}

.subscribe__search {
    margin: 41px 0 0;
    width: 610px;
    height: 80px;
    background-color: #FFF;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 7px;
}

.subscribe__input {
    height: 60px;
    padding: 0 33px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
}

.subscribe__input::placeholder {
    color: #ACACAC;
}

.subscribe__button {
    width: 197px;
    height: 66px;
    border: none;
    border-radius: 62px;
    background-color: #FF7426;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    cursor: pointer;
}

.subscribe__button:hover {
    background-color: #e4641a;
}

.subscribe__button:active {
    background-color: #ca5714;
}


.subscribe__arrow {
    position: absolute;
    bottom: -20px;
    left: 130px;
}

.subscribe__lamp {
    position: absolute;
    bottom: 50px;
    right: 150px;
}

.subscribe__circle {
    position: absolute;
    border: solid 3px #FFF;
    border-radius: 50%;
    height: 230px;
    width: 230px;
    z-index: 1;
}

.subscribe__circle:nth-of-type(5) {
    left: 18px;
    top: -104px;
}

.subscribe__circle:nth-of-type(2) {
    left: -35px;
    top: -65px;
}

.subscribe__circle:nth-of-type(3) {
    right: -32px;
    top: -104px;
}

.subscribe__circle:nth-of-type(4) {
    right: -70px;
    top: -18px;
}

.subscribe__blur {
    width: 350px;
    height: 284px;
    border-radius: 50%;
    background-color: rgb(255, 116, 38, 0.1);
    filter: blur(254px);
    position: absolute;
}

.subscribe__blur:nth-of-type(2) {
    left: 195px;
    bottom: 56px;
}

.subscribe__blur:nth-of-type(3) {
    right: 121px;
    bottom: 46px;
}
