.tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 210px 195px 154px;
    position: relative;
}

.tracks__lightbulb-vector {
    position: absolute;
    top: 150px;
    left: 150px;
}

.tracks__arrow-vector {
    position: absolute;
    top: 120px;
    right: 100px;
}

.tracks__title {
    margin: 0;
    font-family: 'Jost', Arial, sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.tracks__subtitle {
    margin: 9px 0 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #8A8A8A;
}

.tracks__cards {
    display: flex;
    gap: 30px;
    margin: 65px 0 0;
}
